.services {
    background: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    background-color: #FDF8F5;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.services-cards {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    transition: .3s ease-in;

}
.services-cards:nth-child(1) {
    background: #FDF8F5; 
}
.services-cards:nth-child(2) {
    background: #FDF8F5;  /* fallback for old browsers */

    
    
}
.services-cards:nth-child(3) {
    background: #FDF8F5

}
.services-cards:nth-child(4) {
    background: #FDF8F5


}

.services-cards h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;


}

.services-cards p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.services-button {
    display: flex;
    justify-content: center;
    margin-top: 16px;

}

.services-button button{
    color: white;
    padding: 15px 20px;
    outline: none;
    border-radius: 4px;
    border: none;
    background-color: #131313;
    font-size: 1rem;
}

.services-button button:hover {
    cursor: pointer;
}

.services-cards:hover {
    transform: scale(1.075);
    transition: all .3s ease-out;
    cursor: pointer;
}
