.hero {
    background-size: cover;
    background-image: url("ems\ background.png");
    padding: 200px;
    height: 875px;
    
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    
}

.hero-heading {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #FDF8F5;
}

.hero-heading span {
    background: #FDF8F5;  /* fallback for old browsers */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.hero-description {
    font-size: 2.5rem;
    background: #FDF8F5;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}



