* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Spartan', sans-serif;
}

.navBar{
    background: #FDF8F5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navBar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar-logo{
    background-color: #4F4846;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navBar-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navBar-item{
    height: 80px;
}

.navBar-links{
    color: #4F4846;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    text-decoration: none;
    height: 100%;

}

.navBar-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}